/* @font-face {
  font-family: julie;
  src: url(../Font/juliett-font/JuliettBold-vndlO.ttf);
} */



/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: julie;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 3vw;
    color: white;
}
h2{
    font-size: 2vw;
    color: white;
    margin: 1vw;
}

.accordion {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky; /* Macht die Box sticky */
  top: 20px; /* Abstand vom oberen Rand der Seite */
  right: 20px; /* Abstand vom rechten Rand */
  margin-left: auto; /* Sorgt dafür, dass die Box am rechten Rand bleibt */
  margin-right: 20px; /* Abstand zwischen Box und Seitenrand */
}


.accordion-button {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
}

.accordion-content p {
  margin: 15px 0;
  padding: 0;
}
 
#cpuAllBox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#mbAllBox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.headerTitle{
  text-align: center;
  font-size: 3em;
  margin-bottom: 6%;
  margin-top: 6%;
}